[submodule "historical-rainfall-analysis"]
	path = historical-rainfall-analysis
	url = https://github.com/longavailable/ydm-historical-rainfall-analysis.git
[submodule "historical-rainfall-plotting"]
	path = historical-rainfall-plotting
	url = https://github.com/longavailable/ydm-historical-rainfall-plotting.git
[submodule "gcm-downscaling"]
	path = gcm-downscaling
	url = https://github.com/longavailable/ydm-gcm-downscaling.git
[submodule "rainfall-analysis"]
	path = rainfall-analysis
	url = https://github.com/longavailable/ydm-rainfall-analysis
